# IntelliJ Editor
.idea/*
*.iml

# VScode Editor
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# vim editor
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
Session.vim
.netrwhist
*~
[._]*.un~
tags

# NodeJS
node_modules/*

# JEST
coverage/*

# React build directory
dist/*

# Mac OS
.DS_STORE

# Other
*.log*
__benchmarks__
