$titleBarHeight: 25px;

.root {
  border: 1px solid transparent;
  display: inline-block;
  overflow: hidden;
  border-radius: 6px;

  transition: box-shadow .24s;
  &.maximized {
    border-radius: 6px 6px 0 0;
    border: 0;
  }
  &.minimized {
    display: none;
  }
  &.selected {
    border-color: #0153EE;
    box-shadow:
            0 10px 20px rgba(0,0,0,0.19),
            0 6px 6px rgba(0,0,0,0.23);
    div.titleBar {
      background: #0153EE;
      div.right {
        button:disabled {
          opacity: 0.5;
        }
      }
    }
  }
  &:not(.selected) {
    border-color: #4477EE;
    box-shadow:
            0 3px 6px rgba(0,0,0,0.16),
            0 3px 6px rgba(0,0,0,0.23);
    div.titleBar {
      background: #4477EE;
      div.right {
        button {
          opacity: 0.5;
          &:not(:disabled):hover {
            opacity: 1;
          }
        }
      }
    }
  }
  div.titleBar {
    display: flex;
    justify-content: space-between;
    line-height: 0;
    color: #f9f9f9;
    font-size: 12px;
    height: $titleBarHeight;
    padding: 5px;
    div.left {
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      img {
        height: 12px;
        margin-right: 6px;
      }
      span.title {}
    }
    div.right {
      min-width: 65px;
      display: inline-block;
      margin: -2px;
      text-align: right;
      button {
        border: 1px solid rgba(255, 255, 255, 0.3);
        outline: none;
        font-size: 12px;
        padding: 2px;
        line-height: 0;
        border-radius: 4px;
        color: #f9f9f9;
        pointer-events: all;
        background: transparent;
        .icon {
          font-size: 12px;
        }
        &:not(:first-child) {
          margin-left: 2px;
        }
      }
      button:not(:disabled).minimize,
      button:not(:disabled).maximize {
        background: #015aff;
        &:hover {
          background: #337AFF;
        }
      }
      button:not(:disabled).close {
        background: #D75C35;
        &:hover {
          background: #ff6e3d;
        }
      }
    }
  }
  .content {
    background: #e8e8e8;
    overflow: auto;
    height: calc(100% - #{$titleBarHeight});
    &.popupContent {
      font-size: 13px;
      padding: 12px;
      min-width: 200px;
    }
  }
}