button.root {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  width: 100%;
  img.icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-right: 8px;
  }
  span {
    font-size: 12px;
    text-transform: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}