div.root{
  div.padding {
    padding: 12px
  }
  img.left {
    float: left;
    max-height: 100%;
    max-width: 50px;
    margin-right: 20px
  }
  .info {
    font-size: 11px;
    font-weight: normal;
  }
}