$iconSize: 60px;

div.root {
  margin: 12px;

  // the contextMenu around innerRoot
  > * { width: $iconSize; }

  div.innerRoot {
    width: $iconSize;
    cursor: pointer;
    align-self: flex-start;

    > div.iconWrapper {
      overflow: hidden;
      transition: transform .12s;
      > img {
        width: $iconSize;
        height: $iconSize;
        object-fit: contain;
      }
    }
    div.nameWrapper {
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 11px;
    }

    &:hover {
      > div.iconWrapper {
        transform: scale(1.05)
      }
    }
    &:active {
      > div.iconWrapper {
        transform: scale(0.95)
      }
    }
  }
}