div.root {
  margin: 12px;
  div.innerRoot {
    width: 60px;
    cursor: pointer;
    align-self: flex-start;

    > div.iconWrapper {
      overflow: hidden;
      transition: transform .12s;
      > img {
        width: 60px;
        height: 60px;
        object-fit: contain;
      }
    }
    div.nameWrapper {
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 11px;
    }

    &:hover {
      > div.iconWrapper {
        transform: scale(1.05)
      }
    }
    &:active {
      > div.iconWrapper {
        transform: scale(0.95)
      }
    }
  }
}