div.rootNoItems {
  margin-right: 12px;
}
div.root {
  display: flex;
  align-items: center;
  margin: 0 12px;
  div.innerRoot {
    height: 32px;
    overflow: hidden;
    div.resizableDiv {
      border-right: 1px solid rgba(255, 255, 255, 0.15);

      // the context-menu container around the button
      > * {
        display: inline-block;
        button {
          min-width: 0;
          min-height: 0;
          padding: 0;
          margin: 0 3px;
          border-radius: 6px;
          background: transparent;
          box-shadow: none;
          &:hover {
            background: #012F9C;
          }
          img {
            object-fit: contain;
          }
        }
      }

    }
  }
}
